<?xml version="1.0"?>

<model>
  <name>TurtleBot3(WaffleCustom)</name>
  <version>2.1</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>marian</name>
    <email>marian@noxrobotics.nl</email>
  </author>

  <description>
    TurtleBot3 Waffle - Custom laser paramaters
  </description>
</model>
